<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.gaast.giggity" android:versionCode="517" android:versionName="2.0.5">
	<!-- TODO: Convert versionCode back to hex when fdroid supports it! -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
	<application android:label="@string/app_name" android:name="Giggity" android:icon="@drawable/deoxide_icon" android:allowBackup="true" android:theme="@style/Theme.Giggity.NoShadow" android:usesCleartextTraffic="true">
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ScheduleViewActivity" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="http" android:host="ggt.gaa.st"/>
				<data android:scheme="https" android:host="ggt.gaa.st"/>
			</intent-filter>
		</activity>
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ScheduleItemActivity"/>
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="SettingsActivity"/>
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ChooserActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<service android:name="Reminder" android:enabled="true"/>
		<receiver android:icon="@drawable/deoxide_icon" android:name="Widget" android:label="Giggity">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
		</receiver>
		<provider android:name="androidx.core.content.FileProvider" android:authorities="net.gaast.giggity.paths" android:grantUriPermissions="true" android:exported="false">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths"/>
		</provider>
	</application>
</manifest>
